.module-split {
    height: 100%;
    width: 100%;
    display: flex;

    &.module-split-horizontal {
        flex-direction: column;
        
        & > div {
            height: 50%;
            width: 100%;
        }
    }
    
    &.module-split-vertical {
        flex-direction: row;

        & > div {
            height: 100%;
            width: 50%;
        }
    }
}
