ul.tree {
  clear: both;
  padding-left: 20px;

  & > li {
    list-style-type: none;

    & > :nth-child(1) {
      height: 10px;
    }

    & > :nth-child(2) {
      float: left;
      margin-top: 12px;
      width: 20px;

      &:not(input[type="checkbox"]) {
        width: 24px;
      }

      &:not(:not(input[type="checkbox"])) {
        &:not(:checked) ~ ul.tree {
          display: none;
        }

        &:checked ~ ul.tree {
          display: block;
        }
      }
    }

    & > .node:nth-child(3) {
      background-color: #ddd;
      border: 1px solid #999;
      border-radius: 5px;
      width: 250px;
      display: flex;
      float: left;

      &.empty {
        background-color: #fff;
      }

      & > div:first-child {
        padding: 10px 15px;
        border-right: 1px solid #999;
      }

      & > div:last-child {
        padding: 10px;
        text-transform: uppercase;
      }

      &:hover {
        cursor: move;
        background-color: #888;
      }
    }
  }
}
