.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  padding-top: 50px;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#div1 {
  width: 350px;
  height: 70px;
  padding: 10px;
  border: 1px solid #aaaaaa;
}
h1{
  color: white;
}

.font{
  cursor: pointer;
  font-size: 20px;
}

.list{
  background: white;
  min-height: 70vh;
  max-height: 70vh;
  overflow-y: scroll;
  width: 350px;
}

.buttons {
  margin-top: 20px;
}

.left{
  margin-left: 20%;
}

.right{
  margin-right: 20%;
}

.selected{
  background: grey;
}

.form-control{
  min-width: 460px;
}